<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="flase">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="Control">
    <classes>
      <class name="controlTest.TestControlProgram"/>
      <class name="controlTest.SampleClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
